*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: auto;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    padding: 1px 20px;
    background-color: #0C356A;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin: 0;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4px;
    padding: 2px;
    color: aliceblue;
}

.navigation .buttonstart{
    border: 2px solid rgb(233, 228, 228);
    width: 90px;
    height: 30px;
    font-size: 1.1em;
    /* cursor: pointer; */
    background: transparent;
    border-radius: 9px;
    outline: none;
    color: azure;
    font-weight: 500;
    margin-left: 10px;
    padding: 1px;
    /* transition: .5s; */
    text-align: center;

}

.navigation .buttonstart:hover{
    background-color: rgb(9, 95, 170);

}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.middleimg{
    display: flex;
}


.afterbackground
{
    text-align: center;
}

.coursecategories img
{
    width: 350px;
    height: 250px;
    margin-left: 50px;
    border: 1px solid white;
    border-radius: 50px;
    position: absolute;
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: 1px;
    overflow-y: 1px;
}

.coursecategories h4
{
    position: absolute;
    margin-left: 200px;
    text-align: center;
    color:white;
    padding-top: 80px;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 160px;
    margin-inline-end: 160px;
    font-family: "Poppins", sans-serif;
}

.coursecategories #course1
{
    position: absolute;
    margin-left: 20px;
    text-align: center;
    color:white;
    padding-top: 100px;
    display: block;
    margin-block-start: 1.44em;
    margin-block-end: 1.44em;
    margin-inline-start: 200px;
    margin-inline-end: 200px;
    font-family: "Poppins", sans-serif;
}

.coursedetail 
{
    width:350px;
    height:750px;
    border: 2px solid black;
    position: absolute;
    margin: 0;
    margin-left: 10px;
    border-radius: 20px;
}

.courselist
{
    padding: 10px;
    padding-left: -20px;
    text-align: left;
    line-height: 40px;
}

.courselist input
{
    margin-left: 10px;
}

button 
{
    background-color: #0C356A;
    color: white;
    width: 90px;
    height: auto;
    border-radius: 15px;
}

.pricelist
{
    border: 2px solid black;
    border-radius: 20px;
    width:350px;
    height:200px;
    margin-top: 20px;
    margin-left: -2px;
}

.pricelist input
{
    margin-left: 10px;
}

.pricelist
{
    padding: 5px;
    text-align: left;
    line-height: 40px;
}

.durationlist
{
    border: 2px solid black;
    border-radius: 20px;
    width:350px;
    height:270px;
    margin-top: 10px;
    margin-left: -2px;
}

.durationlist input
{
    margin-left: 10px;
}

.durationlist
{
    padding: 5px;
    text-align: left;
    line-height: 40px;
}

.durationlist button
{
    margin-left: 150px;
}

.middleimg
{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    gap: 2px;
    width: 750px; 
}

.middleimg .img1 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
} 

.middleimg .img2 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
} 

.middleimg .img3 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
} 

.middleimg1
{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    gap: 2px;
    width: 750px; 
    gap: 5px;
}

.middleimg1 .img4 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
} 

.middleimg1 .img5 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
}

.middleimg1 .img6 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
}

.middleimg2
{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    gap: 2px;
    width: 750px; 
    gap: 5px;
}

.middleimg2 .img7 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
} 

.middleimg2 .img8 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
}

.middleimg2 .img9 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
}

.middleimg3
{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    gap: 2px;
    width: 750px; 
    gap: 5px;
}

.middleimg3 .img10 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
} 

.middleimg3 .img11 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
}

.middleimg3 .img12 img
{
    padding: 1px;
    width: 300px;
    height: 250px;
}

.foot
{
    width: 1370px;
    height: 250px;
    background-color: black;
    border: 10px solid black;
    /* box-sizing: border-box; */
    position: absolute;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.foot1 img
{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.foot1 p
{
    color: white;
    font-family: sans-serif;
    margin-left: 20px;
    font-size: small;
}

.foot1 i
{
    color: white;
    margin-left: 20px;
}

.foot2 
{
    
    width: 750px;
    height: 200px;
    margin: 0;
    position: relative;
    margin-left: 150px;
    margin-top: 20px;
}

.foot21 
{
    color: white;
    position: absolute;
    font-size: small;
    font-family: sans-serif;
    list-style: none;
}

.foot21 h4:hover
{
    color:  #0C356A;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
}

.foot22 
{
    color: white;
    position: absolute;
    margin-left: 300px;
    font-size: small;
    font-family: sans-serif;
    list-style: none;
}

.foot22 h4:hover
{
    color:  #0C356A;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
}

.foot23
{
    margin-left: 600px;
    color: white;
    list-style-type: none;
    font-size: small;
    font-family: sans-serif;
}

.foot23 h4:hover
{
    color:  #0C356A;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
}









